.header {
    margin:0px;
    background:#f0e0d6;
    padding:0px;
    border: 2px solid #d9bfb7;
    width: 100%;
    padding-left: 0px;
}
h1 {
    margin:20px;
    font-size: 35px;
}
.infoBox {
    background:#ea8;
    border:1px solid #800;
    padding:0 5px;
}
body {
    color: maroon;
    font-size: 10pt;
    padding:0px;
    margin:0px;
    background: #ffe;
}
.postName {
    color: #117743;
    font-weight: 700;
}
.reply {
    margin:8px;
    padding:5px;
    background:#f0e0d6;
    border: 2px solid #d9bfb7;
    width: 600px;
}
#postBox {
    margin:8px;
    background:#f0e0d6;
    padding:5px;
    width: 600px;
}
.futaba {
    background-color: #ea8;
    color: #800;
    font-weight: 700;
    padding: 0 5px;
    font-size: 10pt;
}
th {
    	background-color: #6080f6;
    		border: 1px solid #000;
}
.posts {
word-wrap: break-word;
word-break: break-all;
background: #D6D6F6;
}
textarea {
    width:320px;
    height:100;
    resize:none;
}
img {
    max-width: 400px;
}
